<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- favicon -->
    <link rel="shortcut icon" href="https://avatars2.githubusercontent.com/u/38456916?s=460&u=7db06c46c3c24a2cf19cb793aa8fbb24aedf18d0&v=4" type="image/x-icon">
    <!-- myStyle -->
    <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" href="stories.css">
      <link rel="stylesheet" href="profile.css">
       <link rel="stylesheet" href="gallery.css">
    <title>Instagram</title>
</head>
<body>
    <div class="page">
        <!-- HEADER -->
        <header>
            <div class="head-inner-wrap">
                <div class="logo">
                    <a href="https://github.com/Instabro" target="_blank">
                        <h3>Instagram</h3>
                    </a>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <span><i class="fa fa-search"></i></span>
                </div>
                <div class="btn">
                    <a href="#" class="cta">Log In</a>
                    <a href="#">Sign Up</a>
                </div>
            </div>
        </header>
        <!-- PROFILE -->
        <div class="profile-wrap mb-2rem">
            <div class="profile-avatar">
                <div class="circ-story circ-gradient"></div>
                <img src="https://i.pravatar.cc/34">
            </div>
            <div class="profile-info">
                <div class="profile-title mb-1rem">
                    <h2>InstaBro</h2>
                    <button class="cta">Follow</button>
                </div>
                <!-- Profile Stats -->
                <ul class="profile-numbers mb-1rem">
                    <li>
                        <a href="#">
                            <span class="profile-posts">6</span>
                            posts
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="profile-followers">8M</span>
                            followers
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="profile-following">10</span>
                            following
                        </a>
                    </li>
                </ul>
                <div class="profile-bio">
                    <h1 class="profile-name">Instaga Virobo</h1>
                    <span class="profile-desc">
                        Haters will say this is photoshoped!
                        <br> 
                        Here's some 🍕
                    </span>
                    <a href="https://github.com/Shalin1204" target="_blank" class="profile-link">https://github.com/Shalin1204</a>
                </div>
            </div>
        </div>
        <!-- STORIES -->
        <div class="stories-wrap mb-2rem">
            <ul class="stories inner-wrap">
               
                <li class="story">
                    <div class="img-wrap">
                        <div class="circ"></div>
                        <img src="pizza.png">
                    </div>
                    <div class="story-title">
                        🍕
                    </div>
                </li>
                <li class="story">
                    <div class="img-wrap">
                        <div class="circ"></div>
                        <img src="money.png">
                    </div>
                    <div class="story-title">
                        M💰ney
                    </div>
                </li>
            </ul>
        </div>
        <!-- RESPONSIVE PROFILE NUMBERS -->
        <ul class="profile-numbers responsive-profile">
            <li>
                <a href="#">
                    <span class="profile-posts">6</span>
                    posts
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="profile-followers">800B</span>
                    followers
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="profile-following">10</span>
                    following
                </a>
            </li>
        </ul>
        <!-- CONTENT -->
        <div class="content-tabs inner-wrap">
            <div class="tabs">
                <a href="#">
                    <span class="tab-content">
                        <svg aria-label="Posts" class="posts" fill="#0095f6" height="24" viewBox="0 0 48 48" width="24">
                            <path clip-rule="evenodd" 
                                d="M45 1.5H3c-.8 0-1.5.7-1.5 1.5v42c0 .8.7 1.5 1.5 1.5h42c.8 0 1.5-.7 1.5-1.5V3c0-.8-.7-1.5-1.5-1.5zm-40.5 3h11v11h-11v-11zm0 14h11v11h-11v-11zm11 25h-11v-11h11v11zm14 0h-11v-11h11v11zm0-14h-11v-11h11v11zm0-14h-11v-11h11v11zm14 28h-11v-11h11v11zm0-14h-11v-11h11v11zm0-14h-11v-11h11v11z"
                                fill-rule="evenodd">
                            </path>
                        </svg>
                        <spanp class="tab-text">Posts</span>
                    </span>
                </a>
            </div>
            <div class="tabs">
                <a href="#">
                    <span class="tab-content">
                        <svg aria-label="Tagged" class="tagged" fill="#8e8e8e" height="12" viewBox="0 0 48 48" width="12">
                     
                        </svg>
                    </span>
                    
                </a>
            </div>
        </div>
        <!-- GALLERY -->
        <div class="gallery-pics inner-wrap">
            <div class="pic-wrap">
                <div class="pic">
                    <div class="opacity-overlay">
                        <img src="image.png">
                    </div>
                    <div class="icons">
                        <i class="fa fa-heart">200m</i>
                        <i class="fa fa-comment">2m</i>
                    </div>
                </div>
                <div class="pic">
                    <div class="opacity-overlay">
                        <img src="mandir.png">
                    </div>
                    <div class="icons">
                        <i class="fa fa-heart">199m</i>
                        <i class="fa fa-comment">20m</i>
                    </div>
                </div>
                <div class="pic">
                    <div class="opacity-overlay">
                        <img src="moon.png">
                    </div>
                    <div class="icons">
                        <i class="fa fa-heart">68b</i>
                        <i class="fa fa-comment">20m</i>
                    </div>
                </div>
                <div class="pic">
                    <div class="opacity-overlay">
                        <img src="download (1).jpg">
                    </div>
                    <div class="icons">
                        <i class="fa fa-heart">400k</i>
                        <i class="fa fa-comment">90k</i>
                    </div>
                </div>
                <div class="pic">
                    <div class="opacity-overlay">
                        <img src="download.jpg">
                    </div>
                    <div class="icons">
                        <i class="fa fa-heart">899m</i>
                        <i class="fa fa-comment">100m</i>
                    </div>
                </div>
                <div class="pic">
                    <div class="opacity-overlay">
                        <img src="srm.png">
                    </div>
                    <div class="icons">
                        <i class="fa fa-heart">120m</i>
                        <i class="fa fa-comment">6m</i>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="inner-wrap">
            <nav>
                <ul class="links">
                    <li>ABOUT</li>
                    <li>HELP</li>
                    <li>PRESS</li>
                    <li>API</li>
                    <li>JOBS</li>
                    <li>PRVACY</li>
                    <li>TERMS</li>
                    <li>LOCATION</li>
                    <li>TOP ACCOUNTS</li>
                    <li>HASHTAGS</li>
                    <li>LANGUAGE</li>
                </ul>
            </nav>
            <span>
                &copy; 2020 Instagram from InstaBro
            </span>
        </footer>
    </div>
</body>
</html>